<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tudominio.contabilidad" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Contabilidad B</name>
    <description>App de contabilidad personal</description>
    <author email="arstv43@gmail.com">TXAPOTE</author>
    
    <content src="index.html" />
    <access origin="*" />
    
    <!-- Solo estas preferencias básicas -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    
    <!-- SOLO UN ICONO -->
    <icon src="www/icon.png" />
    
    <!-- Solo plataforma Android -->
    <platform name="android">
        <icon src="www/icon.png" />
    </platform>
</widget>